<div class="container">

<h3 class="well well-sm" align="center">Products shop by brands</h3>
<table align="center">
	<tr align="center">
		<td><a href="#/allproducts/{{apple}}"><img src="images/brands/all.jpeg" height="200px" width="200px"> <br>All Laptops</a></td>

		<td><a href="#/allproducts/{{dell}}"><img src="images/brands/apple.png" height="200px" width="200px"><br> MacBooks </a></td>

		<td><a href=""><img src="images/brands/dell.png" height="200px" width="200px"><br>Dell  </a></td>
	</tr>
	<tr  align="center">
		<td><a href=""><img src="images/brands/hp.png" height="200px" width="200px"><br>HP  </a></td>
		<td><a href=""><img src="images/brands/lenovo.jpg" height="200px" width="200px"><br>Lenovo </a></td>
		<td><a href=""><img src="images/brands/toshiba.jpg" height="200px" width="200px"><br>Toshiba  </a></td>
	</tr>
</table>
</div>